<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mobile_manipulator_pltf">
  <xacro:arg name="is_sim" default="true"/>
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_base" default="false"/>
  <xacro:arg name="use_arm" default="true"/>

  <xacro:if value="$(arg use_base)">
    <xacro:if value="$(arg is_sim)">
      <xacro:include filename="$(find hunter_with_arm_description)/description/robot.urdf.xacro"/>
      <xacro:property name="front_lidar_rpy" value="0 0 0"/>
      <xacro:property name="back_lidar_rpy" value="0 0 3.14159"/>
    </xacro:if>
    <xacro:unless value="$(arg is_sim)">
      <xacro:include filename="$(find hunter_with_arm_description)/description/robot_core_real_hack.xacro"/>
      <xacro:property name="front_lidar_rpy" value="-0.0174533 0 0"/>
      <xacro:property name="back_lidar_rpy" value="0 0 3.14159"/>
    </xacro:unless>

    <xacro:include filename="$(find mobile_manipulator_pltf_description)/description/lidar.urdf.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_pltf_description)/description/mid360.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_pltf_description)/description/imu.urdf.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_pltf_description)/description/gps.urdf.xacro"/>
    <xacro:include filename="$(find mobile_manipulator_pltf_description)/description/depth_camera.urdf.xacro"/>

    <xacro:mobile_base_imu name="$(arg prefix)imu" is_sim="$(arg is_sim)" x="-0.25" y="0.0" z="0.47" topic="/gps_base/yaw"/>
    <xacro:mobile_base_imu name="$(arg prefix)imu1" is_sim="$(arg is_sim)" x="0.25" y="0.0" z="0.47" topic="/imu/data"/>
    <xacro:mobile_base_depth_camera name="front_camera" x="0.55" y="-0.00" z="0.72" is_sim="$(arg is_sim)"/>
    <xacro:mobile_base_depth_camera name="back_camera" x="-0.55" y="-0.00" z="0.72" is_sim="$(arg is_sim)" yaw="3.14"/>
    <xacro:mobile_base_gps name="$(arg prefix)gps_base" is_sim="$(arg is_sim)" x="-0.25" y="0.0" z="0.47" yaw="0.037482"/>

    <xacro:mid360 name="$(arg prefix)front_lidar_link" topic="front_lidar/points" origin_xyz="0.56 0.23 0.46" origin_rpy="${front_lidar_rpy}" is_sim="$(arg is_sim)"/>
    <xacro:mid360 name="$(arg prefix)back_lidar_link" topic="back_lidar/points" origin_xyz="-0.56 -0.23 0.46" origin_rpy="${back_lidar_rpy}" is_sim="$(arg is_sim)"/>
  </xacro:if>

  <xacro:if value="$(arg use_arm)">
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>
  </xacro:if>
</robot>
