<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mobile_base_imu" params="name topic x:=0.0 y:=0.0 z:=0.0 roll:=0.0 pitch:=0.0 yaw:=0.0 is_sim:=true">
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
    </joint>

    <link name="${name}_link"/>

    <xacro:if value="${is_sim}">
      <gazebo reference="${name}_link">
        <sensor name="${name}_imu" type="imu">
          <plugin filename="libgazebo_ros_imu_sensor.so" name="${name}_controller">
            <ros>
              <remapping>~/out:=${topic}</remapping>
              <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </ros>
            <frame_name>${name}_link</frame_name>
          </plugin>
          <always_on>true</always_on>
          <update_rate>50</update_rate>
          <imu>
            <angular_velocity>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
              <bias>
                <mean>0.0</mean>
                <stddev>0.0001</stddev>
              </bias>
            </angular_velocity>
            <linear_acceleration>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
              <bias>
                <mean>0.0</mean>
                <stddev>0.0001</stddev>
              </bias>
            </linear_acceleration>
          </imu>
        </sensor>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
